@{
    ViewBag.Title = "StatisticBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistic of Sale Book Quantity</h2>

<table class="table">
    <tr>
        <th><strong>Book Name</strong></th>
        <th><strong>Sale Quantity</strong></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @* SỬA TẠI ĐÂY: Đổi BookName thành bookName (chữ b viết thường) *@
            <td>@item.BookName</td>
            <td>
                @if (item.SaleQuantity == null)
                {
                    <label style="font-weight:normal">0</label>
                }
                else
                {
                    @item.SaleQuantity
                }
            </td>
        </tr>
    }
</table>