
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmOrder</h2>
<h2>
    Oder has been confirmed
</h2>
<h3>We will deliver your order as soon as possible</h3>
<p>
    @Html.ActionLink("Back to Home", "Index", "Book")
</p>
