@{
    ViewBag.Title = "Thành công";
}
<div class="alert alert-success">
    <h2>Chúc mừng!</h2>
    <p>Bạn đã đặt hàng thành công. Chúng tôi sẽ liên hệ sớm nhất.</p>
    <a href="@Url.Action("Index", "Book")">Tiếp tục mua sắm</a>
</div>